[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django = "*"
pillow = "*"
markdown = "*"
django-admin-interface = "*"
django-colorfield = "*"

[dev-packages]

[requires]
python_version = "3.12"
